﻿
@{ ViewBag.Title = "Index"; }

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h2 class="panel-title pull-left">
                Products
            </h2>
            <button style="margin-right:5px" id="addNewItem" class="btn btn-primary pull-right">Add New</button>
        </div>
    </div>

    <div class="panel-body">
        <table id="productsTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Product category</th>
                    <th> Product Name</th>
                    <th>Product desc</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div id="newProductModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Product Information</h4>
            </div>
            <div class="modal-body">
                <h3>
                    Product Master
                </h3>
                <hr />
                <div class="form-horizontal">
                    <input type="hidden" id="productMasterId" />
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Product Category
                        </label>
                        <div class="col-md-10">
                            <select class="form-control" id="productcategory" name="productcategory"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Product Name
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="productname" placeholder="Product Name" class="form-control" />
                        </div>
                        <label class="control-label col-md-2">
                            Desc
                        </label>
                        <div class="col-md-4">
                            <input type="text" id="productdesc" placeholder="Product description" class="form-control" />
                        </div>
                    </div>
                </div>

                <h3 style="margin-top:10px">Product Details</h3>

                <table id="detailsTable" class="table">
                    <thead>
                        <tr>
                            <th style="width:50%">Product Attribute</th>
                            <th style="width:40%">Attribute Value</th>
                            @*<th style="width:15%">Quantity</th>
                                <th style="width:20%">Amount</th>*@
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-info" id="addMore">Add Detail</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveProduct" type="button" class="btn btn-primary">Save Product</button>
            </div>
        </div>
    </div>
</div>



<div id="ProductDetailsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Product Details</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <input type="hidden" id="ProductId" />
                        <input type="hidden" id="AttributeId" />
                        <label class="control-label col-md-3">
                            Product Attribute
                        </label>
                        <div class="col-md-9">
                            <select class="form-control" id="productattr" name="productattr"></select>
                            @*<select class="form-control" id="productattr">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Attribute Value
                        </label>
                        <div class="col-md-9">
                            <input type="text" id="productattrvalue" placeholder="Attribute Value" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-lg-offset-9">
                            <a id="addToList" class="btn btn-default">Add To List</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            var productUrl = '@Url.Action("getProduct", "Home")';

            var table = $("#productsTable").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "ajax": {
                    "url": productUrl,
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "CategoryName", "name": "CategoryName", "autoWidth": true },
                    { "data": "ProdName", "name": "ProdName", "autoWidth": true },
                    { "data": "ProdDescription", "name": "ProdDescription", "autoWidth": true },
                    { "data": null, "name": "Action", "defaultContent": '<a href="#" class="editItem">Edit</a>', "autoWidth": true }

                ]
            });

        var saveUrl = '@Url.Action("saveProduct", "Home", new { area=""})';
            $("#addNewItem").click(function (e) {
                e.preventDefault();
                bindproductcategory();
                $("#customerName").val('');
                $("#address").val('');
                $("#productMasterId").val('0');
                $("#detailsTable tbody tr").remove();
                $("#saveProduct").html("Save Product");
                $('#newProductModal').modal('show');
                $('#productcategory').removeAttr('disabled'); 
            });

            $("#addMore").click(function (e) {
                e.preventDefault();
                if ($('#productcategory').val() == -1) {
                    return;
                }
                bindproductatt($('#productcategory').val());
                $('#ProductDetailsModal').modal('show');
            });

            $("#addToList").click(function (e) {
                e.preventDefault();
                var isdublicate = false;
                if ($('#productattr').val() == -1 || $('#productattrvalue').val() == "") {
                    return;
                }

                $.each($("#detailsTable tbody tr"), function () {
                    debugger;
                    var attrid = $(this).find('td:eq(0)').attr('data-attrid'); 
                    if ($('#productattr').val() == attrid) {
                        isdublicate = true;
                        return;
                    }
                });
                if (isdublicate == true) {
                    alert("Already selected data.");
                    return;
                }
                var productattrid = $("#productattr").val(),
                    productattrText = $("#productattr option:selected").text(),
                    productattrvalue = $("#productattrvalue").val();

                var productItem = '<tr><td data-attrid='+productattrid+'>' + productattrText + '</td><td>' + productattrvalue + '</td> <td><a data-AttributeId="0" href="#" class="deleteItem">Remove</a></td></tr>';
                //detailsTableBody.append(productItem);
                $("#detailsTable tbody").append(productItem);
                clearItem();
            });


            function clearItem() {
                $("#productName").val('');
                $("#price").val('');
                $("#quantity").val('');

                $("#productattrvalue").val('');
                $("#productattr").val('-1');
            }

            function saveProduct(data) {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: saveUrl,
                    data: data
                });
            }


            function getProduct(id) {
                return $.ajax({
                    type: 'GET',
                    url: '@Url.Action("getSingleProduct", "Home", new { area = "" })',
                    data: "ProductId=" + id
                });
            }

            function getSingleProductDetail(id,id2) {
            return $.ajax({
                type: 'GET',
                url: '@Url.Action("getSingleProductDetail", "Home", new { area = "" })',
                data: "id=" + id + "&id2=" + id2
            });
        }

            function deleteProductItem(ProductId, AttributeId) {
                return $.ajax({
                    type: 'POST',
                    url: '@Url.Action("deleteProductItem", "Home", new { area = "" })',
                    data: "ProductId=" + ProductId + "&AttributeId=" + AttributeId
                });
            }

            function bindproductatt(id) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getproductattr", "Home", new { area = "" })',
                    data: "prodcatid=" + id,
                    success: function (data) {
                        var s = '<option value="-1">Please Select a Attribute</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].AttributeId + '">' + data[i].AttributeName + '</option>';
                        }
                        $("#productattr").html(s);
                    }
                });
            }

            function bindproductcategory() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getproductcategory", "Home", new { area = "" })',
                    data: "",
                    success: function (data) {
                        var s = '<option value="-1">Please Select a Category</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].ProdCatId + '">' + data[i].CategoryName + '</option>';
                        }
                        $("#productcategory").html(s);
                    }
                });
            }

            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
                var $self = $(this);
                debugger;
                if ($(this).attr('data-AttributeId') == undefined || $(this).attr('data-AttributeId') == "0") {
                    $(this).parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                        $(this).remove();
                    });
                } else {
                    $.when(deleteProductItem($(this).attr('data-ProductId'), $(this).attr('data-AttributeId'))).then(function (res) {
                        $self.parents('tr').css("background-color", "#FF3700").fadeOut(800, function () {
                            $(this).remove();
                        });
                    }).fail(function (err) {

                    });
                }
            });

            $("#saveProduct").click(function (e) {
                e.preventDefault();

                if ($("#productcategory").val() == -1 || $('#productname').val() == "") {
                    alert("Please select valid data.");
                    return;
                }

                var productArr = [];
                productArr.length = 0;
                var productId = $('#productMasterId').val();
                $.each($("#detailsTable tbody tr"), function () {
                    productArr.push({
                        ProductId: productId,
                        AttributeId: $(this).find('td:eq(0)').attr('data-attrid'),
                        AttributeValue: $(this).find('td:eq(1)').html()
                    });
                });

                var data = JSON.stringify({
                    ProductId: productId,
                    ProdCatId: $("#productcategory").val(),
                    ProdName: $("#productname").val(),
                    ProdDescription: $("#productdesc").val(),
                    productDetails: productArr
                });

                $.when(saveProduct(data)).then(function (response) {
                    console.log(response);
                    location.reload();
                }).fail(function (err) {
                    console.log(err);
                });
            });




            $(document).on("click", '.editItem', function (e) {
                debugger;
                bindproductcategory();
                var data = table.row($(this).parents('tr')).data();
                //console.log(data);
                e.preventDefault();
                var id = data.ProductId;

                $.when(getProduct(id)).then(function (res) {
                    $("#detailsTable tbody").html('');
                    var detArr = [];
                    $("#productcategory").val(res.result.ProdCatId);
                    $('#productcategory').attr('disabled', 'disabled');
                    $("#productname").val(res.result.ProdName);
                    $("#productdesc").val(res.result.ProdDescription);
                    $("#productMasterId").val(res.result.ProductId);
                    bindproductatt(res.result.ProdCatId);
                    $.each(res.result.productDetails, function (i, v) {
                        detArr.push('<tr><td data-attrid=' + v.AttributeId +'>' + v.AttributeName + '</td><td>' + v.AttributeValue + '</td><td><a data-itemId="' + v.DetailId + '" data-AttributeId="' + v.AttributeId + '" data-ProductId="' + v.ProductId + '" href="#" class="deleteItem">Delete</a> </td></tr>')
                            //| <a href="#" data-ProductId="' + v.ProductId + '" data-AttributeId="' + v.AttributeId + '" class="editDetail">Edit</a>
                    });
                    $("#detailsTable tbody").append(detArr);
                    $("#saveProduct").html("Save Update");
                    $('#newProductModal').modal('show');

                }).fail(function (err) {
                    console.log(err);
                });
            });


            $(document).on("click", '.editDetail', function (e) {

                e.preventDefault();
                var id = $(this).attr("data-itemid"); //ProductId
                var id2 = $(this).attr("data-itemid2"); //AttributeId

                $.when(getSingleProductDetail(id, id2)).then(function (res) {
                    var detArr = [],
                        data = res.result;
                    $("#ProductId").val(data.ProductId);
                    $("#AttributeId").val(data.AttributeId);
                    debugger;
                    $("#productattr").val(data.AttributeId);
                    $("#productattrvalue").val(data.AttributeValue);

                    $('#ProductDetailsModal').modal('show');


                }).fail(function (err) {
                    console.log(err);
                });
            });



        });

    </script>
}

